.container {
    flex-direction: column;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container form label:not(:first-of-type) {
    margin: 1rem 0 0.2rem 0;
}

.container form input[type=submit] {
    margin-top: 2rem;
}

#placa {
    text-transform: uppercase;
    text-transform: uppercase;
}

#placa:invalid {
    background-color: #ef303060;
}