#footer {
    display: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 1rem 1.5rem;
    background-color: dodgerblue;

    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    z-index: 2;

    margin: -2px;
}

#footer a {
    color: white;
}