* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: none;
}

html {
    height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: none;
    overflow-y: auto;
}

button, input[type=submit] {
    padding: 0.8rem 0;
    border: none;
    background-color: rgb(70, 252, 109);
    color: #373737;
    font-size: 1.1rem;
}

button, a, input[type=submit] {
    cursor: pointer;
} 

button:hover, 
a:hover, 
input[type=submit]:hover {
    filter: brightness(1.1);
    cursor: pointer;
} 

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    border-radius: 0.2rem;
    border: 1px solid #00000050;
    padding: 0.6rem;
    font-size: 1.2rem;
    display: block;
}

input:focus {
    outline-color: #00000080;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}