#header {
    position: relative;
    display: block;
    width: 100%;

    margin: 0;
    padding: 2rem 2.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    color: #202020;

    z-index: 2;
}

#header::after {
    content: "";
    position: absolute;
    display: block;
    width: 90%;
    height: 2px;

    /* Dá um efeito de degradê nos cantos */
    border-radius: 50%;

    left: 5%;
    bottom: 0;

    background-color: dodgerblue;
}

#header > span > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

#header > span ul li {
    position: relative;
}

#header > span ul li:not(:first-of-type)::before {
    content: "";

    position: absolute;
    left: -1rem;
    top: 0;
    
    display: block;
    width: 2px;
    height: 20px;
    background-color: dodgerblue;
}

#header a {
    color: #202020;
}

#header .home {
    font-size: 2rem;
}