.container {
    position: relative;
    flex-direction: column;
    gap: 1rem;
}

.container .row, .row > section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .row {
    flex-direction: row;
}

.container form * {
    font-size: 2rem;
}

.row > section {
    flex-direction: column;
}

.row > section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.95rem;
}

.container h1 {
    align-self: flex-start;
    width: 50%;
    margin: 1.5rem auto 0.5rem;
}

input#placa {
    text-transform: uppercase;
}