.container, .container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container form {
    gap: 0.4rem;
    width: 25%;
    min-width: 20rem;
}

.container form * {
    width: 100%;
}

.container form input {
    display: block;
}